h2{
font-family: sans-serif;
font-size: 33px;
text-align: center;
}
form{
    display: flex;
    gap: 10px;
    padding: 4px 4px 4px 4px;
    margin-top:30px;
    background-color: aquamarine;
}
label{
    width: 400;
}
button{
  padding: 10px;
  width: 120px;
}